
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to myHospital, <%=h @user.first_name %></h1>
    <p>
      You have successfully signed up to myHospital.<br/>
      To login to the site.
      UserId = "p" + "@user.id"
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
