<h5 style="color:brown; text-align:center">Hurry!!!</h5>
<p style="color:green;">You have successfully registered in to the system as Patient</p>
<p style="color:green;">Please use your first name as the User Name and username123 as your password!!</p>
<p style="color:green;">To continue the benefits of the System.... Plaese Login By clicking on the below link</p>
<%= link_to "login", root_path %>