<% if @appointments.present? %>
<table class ="table mt-5">
    <thead>
        <tr>
            <th>Appointment Date</th>
            <th>Patient Name</th>
            <th>Start Timming</th>   
    </tr>
    </thead>
    <tbody>
    <% @appointments.each do |appointment| %>
        <tr>
            <td><%= appointment.appointment_date %></td>
            <td><%= appointment.patient.first_name%></td>
            <td><%= appointment.slot.slot_start_time%></td>
    </tr>
    <% end %>
    <% else %>
    <h5 style ="text-align:center;color:red;">No Appointment For this Doctor</h5>
    </tbody>
</table>
<% end %>